@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Space Grotesk', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  color: rgb(64 64 64 / var(--tw-text-opacity));
  --tw-text-opacity: 1;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
